<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item text-better-white">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-better-white">By
                    Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-better-white">By
                    Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" id="minions-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Minions
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="minion-link">
                <a href="{% url 'products' %}?category=mining,foraging,farming,fishing,combat"
                    class="dropdown-item text-better-white">All Minions</a>
                <a href="{% url 'products' %}?category=mining" class="dropdown-item text-better-white">Mining</a>
                <a href="{% url 'products' %}?category=foraging" class="dropdown-item text-better-white">Foraging</a>
                <a href="{% url 'products' %}?category=farming" class="dropdown-item text-better-white">Farming</a>
                <a href="{% url 'products' %}?category=fishing" class="dropdown-item text-better-white">Fishing</a>
                <a href="{% url 'products' %}?category=combat" class="dropdown-item text-better-white">Combat</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" id="minion-upgrades-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Minion Improvements
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=minion_fuels,minion_upgrades,minion_storages"
                    class="dropdown-item text-better-white">All Minion Improvements</a>
                <a href="{% url 'products' %}?category=minion_fuels" class="dropdown-item text-better-white">Minion
                    Fuels</a>
                <a href="{% url 'products' %}?category=minion_upgrades" class="dropdown-item text-better-white">Minion
                    Upgrades</a>
                <a href="{% url 'products' %}?category=minion_storages" class="dropdown-item text-better-white">Minion
                    Storages</a>
            </div>
        </li>
    </ul>
</div>