<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item text-better-white">By Price</a>
                <a href="" class="dropdown-item text-better-white">By Rating</a>
                <a href="" class="dropdown-item text-better-white">By Category</a>
                <a href="" class="dropdown-item text-better-white">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" id="minions-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Minions
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="minion-link">
                <a href="" class="dropdown-item text-better-white">All Minions</a>
                <a href="" class="dropdown-item text-better-white">Mining</a>
                <a href="" class="dropdown-item text-better-white">Foraging</a>
                <a href="" class="dropdown-item text-better-white">Farming</a>
                <a href="" class="dropdown-item text-better-white">Fishing</a>
                <a href="" class="dropdown-item text-better-white">Combat</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" id="minion-upgrades-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Minion Upgrades
            </a>
            <div class="dropdown-menu border-0 bg-blue" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item text-better-white">Minion Fuels</a>
                <a href="" class="dropdown-item text-better-white">Minion Upgrades</a>
                <a href="" class="dropdown-item text-better-white">Minion Storages</a>
            </div>
        </li>
    </ul>
</div>