{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h3>Leave A Negative Review:</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    <div>
                        {{ negative_review_form.negative_review | as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-blue btn-signup btn-lg text-better-white">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col-sm">
            <div class="card-body">
                <h3>Negative Reviews:</h3>
                <!-- We want a for loop inside the empty control tags to iterate through each negative review in negative_reviews -->
                {% for negative_review in negative_reviews %}
                <div class="comments review-box" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ negative_review.name }}
                        <span class=" text-muted font-weight-normal">
                            wrote:
                        </span>
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ negative_review.negative_review | linebreaks }}
                </div>
                {% if negative_review.name == request.user.username %}
                <a href="{% url 'edit_negative_review' negative_review.id %}" class="card-link">Edit</a>
                <a href="{% url 'delete_negative_review' negative_review.id %}" class="card-link text-danger">delete</a>
                <!-- Our for loop ends here -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Please Log In/Register To Go Beyond The Home Page</h2>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}